@font-face{
	font-family: 'mapolice';
    src: url('mapolice.ttf');
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: cornsilk;
    display: flex;
    align-items: center;
    background-image: url(./fondcv.png);
    background-repeat: repeat;
    background-position: center cover;
    font-family: 'mapolice';
    font-size: small;
    overflow: auto;
    letter-spacing: .3rem;
}

h2{color: blueviolet;}
p{
    text-align: center;
}
h1{
    border: 1px solid white;
    padding: 1rem;
    box-shadow: 10px 10px 10px white;
    
}
h1:hover{
    box-shadow: 10px 10px 10px rgb(71, 71, 71);
}
.container{
    height: 100%;
}

.barre{
    width: 200px;
    height: 100%;
    background-image: linear-gradient(white, red);
}
.container_titre{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    
}
.container_content{
    display: flex;
    margin-top: 2rem;
    margin-left: 1.5rem;
}
section{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
}
li{
    margin-top: 1rem;
}