/*Color : mauve : #9b38fc bleu :#2795ed*/
html{
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom left, #9b38fc, #2795ed);
    background-position: cover center;
    background-repeat: no-repeat;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    background-color: black;
    text-align: center;
    color: white;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 25px 0 25px 0;
}
input{
    height: 35px;
    border-radius: 7px;
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    border: none;
}
input:focus{
    background-color: #acacac;
    outline: none;
}
label{
 font-weight: bolder;
    color: rgb(93, 93, 93);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 37%; 
    height: 80%;   
    height: auto;
    background-color: white;
    border-radius: 1rem;
    margin-top: 50px;
}
.formulaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 77%;
    margin-top: 5px;
}
.formWidget{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 35px;
}
.formWidget > label{
    width: 20%;
    margin-right: 10px;
}
.formWidget > input{
    width: 80%;
}
.labelSpecial{
    margin-top: -15px;
    width: 20%;
}
.titre{
    background-color: black;
    width: 100%;
    border-radius: 1rem 1rem 0rem 0;
}

.labelFirstName{
    display: flex;
    flex-direction: column-reverse;
    width: 40%;
}
.labelLastName{
    display: flex;
    flex-direction: column-reverse;
    width: 40%;
    margin-left: 10px;
}
.labelArea{
    display: flex;
    flex-direction: column-reverse;
    width: 20%;
}
.labelPhoneNumber{
    display: flex;
    flex-direction: column-reverse;
    width: 59%;
    margin-left: 10px;
}
.greyLabel{
    color: rgb(211, 211, 211);
    font-size: 12px;
    margin-top: 5px;
}
select{
    height: 35px;
    background-color: #e5e5e5;
    border: none;
    color: grey;
    outline: none;
}
.formWidget > select{
    width: 81%;
}
.radioList{
    text-align: left;
    margin-top: 40px;
}
.radioList>p{
    width: 100%;
    font-weight: bolder;
    color: rgb(93, 93, 93);
}
.optionRadio{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.radioLabel{
    font-weight: 100;
    margin: 10px;
}

button{
    background-color: #e93342;
    color: white;
    padding: 1rem;
    border-radius: 4px;
    width: 150px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 70px;
    border: none;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 6px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 6px;
    left: -1px;
    position: relative;
    background-color: #57b846;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 4px solid #e5e5e5;
}

.errorMail{
    margin-left: 22%;
    color: red;
    display: none;
}
/* 
input:invalid {
    border: 2px solid red;
  }
  
  input:valid {
    border: 1px solid greenyellow;
  } */
span{
    color: green;
font-size: 1.5rem;
margin-left: 2%;
}
@media (max-width: 992px){
    html{
        height: auto;
    }
    .labelFirstName{
        width: 100%;

    }
    .container{
        width: 95%;
        margin-bottom: 35px;
    }
    .labelLastName{
        width: 100%;
        margin-left: 0;
    }
    .formWidget{
        flex-wrap: wrap;
    }
    .formWidget > label{
        width: 100%;
    }
    .formWidget > input{
        width: 100%;
    }
    .formWidget > select{
        width: 100%;
    }
    .labelArea{
        width: 30%;
    }
    .formulaire{
        width: 90%;
    }
}
