html,body{
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1{
  padding: 10px;
  position: absolute;
  border-right: 1px solid white;
  border-left: 1px solid white;
  transform-style: preserve-3d;
  transform: rotateX(40deg);
}
.container1{
  padding: 10px;
  position: absolute;
  border-right: 1px solid white;
  border-left: 1px solid white;
  transform-style: preserve-3d;
  transform: rotateX(40deg);
}
.container2{
  padding: 10px;
  position: absolute;
  border-right: 1px solid white;
  border-left: 1px solid white;
  transform-style: preserve-3d;
  transform: rotateX(45deg);
}
.container3{
  padding: 10px;
  position: absolute;
  border-right: 1px solid white;
  border-left: 1px solid white;
  transform-style: preserve-3d;
  transform: rotateX(50deg);
}
.container4{
  padding: 10px;
  position: absolute;
  border-right: 1px solid white;
  border-left: 1px solid white;
  transform-style: preserve-3d;
  transform: rotateX(60deg);
}
.container5{
  padding: 10px;
  position: absolute;
  border-right: 1px solid white;
  border-left: 1px solid white;
  transform-style: preserve-3d;
  transform: rotateX(140deg);
}
.container6{
  padding: 10px;
  position: absolute;
  border-right: 1px solid white;
  border-left: 1px solid white;
  transform-style: preserve-3d;
  transform: rotateX(-85deg);
}
.container{
  position: relative;
  height: 1px;
  width: 10px;
  margin-left: 60px;
  border: 1px solid blue;
  perspective: 10px;
}